<div>
  <.form for={@form} phx-submit="save" phx-target={@myself} id={@id}>
    <.input field={@form[:user_id]} type="hidden" />
    <.input field={@form[:product_id]} type="hidden" />
    <.input
      field={@form[:stars]}
      type="rating"
      prompt="Rating"
      options={[
        "★★★★★": 5,
        "★★★★": 4,
        "★★★": 3,
        "★★": 2,
        "★": 1
      ]}
    />
    <.button phx-disable-with="Saving...">Save</.button>
  </.form>
</div>
